$default: #1a202c; /* #1a202c default */
$gray: #a0aec0; /* #a0aec0 */
$red: #f56565; /* #f56565 */
$orange: #ed8936; /* #ed8936 */
$yellow: #ecc94b; /* #ecc94b */
$green: #48bb78; /* #48bb78 */
$teal: #38b2ac; /* #38b2ac */
$blue: #4299e1; /* #4299e1 */
$indigo: #667eea; /* #667eea */
$purple: #9f7aea; /* #9f7aea */
$pink: #ed64a6; /* #ed64a6 */

/* break-points */
$small: 640px;
$medium: 768px;
$large: 1024px;
$extralarge: 1280px;

/* resources */
$main-url: "https://fab-ulous.github.io";
$github-svg: $main-url + "/github.svg";

/* other vars */
$default-distance: 24px;
$default-size: 48px;

$default-boxshadow: 0 3px 20px;
$default-boxshadow-hover: 0 7px 20px;
$default-boxshadow-opacity: 0.5;
$default-boxshadow-opacity-hover: 0.85;

.fabulous,
.fab-ulous,
#github-fabulous,
.github-fabulous {
  position: fixed;
  right: $default-distance;
  bottom: $default-distance;
  box-sizing: content-box;
  width: $default-size;
  height: $default-size;
  z-index: 1001;
  padding: 8px;
  @media screen and (max-width: $small) {
    width: 56px;
    height: 56px;
  }
  background: $default;
  content: url($github-svg);
  transition: box-shadow 0.5s;
  box-shadow: $default-boxshadow rgba(26, 32, 44, $default-boxshadow-opacity);
  border-radius: 9999px;
  color: white;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  &:hover {
    box-shadow: $default-boxshadow-hover
      rgba(26, 32, 44, $default-boxshadow-opacity-hover);
  }
  &.gray {
    background: $gray;
    box-shadow: $default-boxshadow
      rgba(160, 174, 192, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(160, 174, 192, $default-boxshadow-opacity-hover);
    }
  }
  &.red {
    background: $red;
    box-shadow: $default-boxshadow
      rgba(245, 101, 101, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(245, 101, 101, $default-boxshadow-opacity-hover);
    }
  }
  &.orange {
    background: $orange;
    box-shadow: $default-boxshadow
      rgba(237, 137, 54, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(237, 137, 54, $default-boxshadow-opacity-hover);
    }
  }
  &.yellow {
    background: $yellow;
    box-shadow: $default-boxshadow
      rgba(236, 201, 75, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(236, 201, 75, $default-boxshadow-opacity-hover);
    }
  }
  &.green {
    background: $green;
    box-shadow: $default-boxshadow
      rgba(72, 187, 120, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(72, 187, 120, $default-boxshadow-opacity-hover);
    }
  }
  &.teal {
    background: $teal;
    box-shadow: $default-boxshadow
      rgba(56, 178, 172, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(56, 178, 172, $default-boxshadow-opacity-hover);
    }
  }
  &.blue {
    background: $blue;
    box-shadow: $default-boxshadow
      rgba(66, 153, 225, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(66, 153, 225, $default-boxshadow-opacity-hover);
    }
  }
  &.indigo {
    background: $indigo;
    box-shadow: $default-boxshadow
      rgba(102, 126, 234, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(102, 126, 234, $default-boxshadow-opacity-hover);
    }
  }
  &.purple {
    background: $purple;
    box-shadow: $default-boxshadow
      rgba(159, 122, 234, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(159, 122, 234, $default-boxshadow-opacity-hover);
    }
  }
  &.pink {
    background: $pink;
    box-shadow: $default-boxshadow
      rgba(237, 100, 166, $default-boxshadow-opacity);
    &:hover {
      box-shadow: $default-boxshadow-hover
        rgba(237, 100, 166, $default-boxshadow-opacity-hover);
    }
  }
  &.top {
    top: $default-distance;
  }
  &.bottom {
    bottom: $default-distance;
  }
  &.left {
    left: $default-distance;
  }
  &.right {
    right: $default-distance;
  }
  &.no-shadow {
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}
