$gray: #a0aec0; /* #a0aec0 */
$red: #f56565; /* #f56565 */
$orange: #ed8936; /* #ed8936 */
$yellow: #ecc94b; /* #ecc94b */
$green: #48bb78; /* #48bb78 */
$teal: #38b2ac; /* #38b2ac */
$blue: #4299e1; /* #4299e1 */
$indigo: #667eea; /* #667eea */
$purple: #9f7aea; /* #9f7aea */
$pink: #ed64a6; /* #ed64a6 */

#github-fabulous {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 30px;
  height: 30px;
  padding: 4px;
  background: $green;
  content: url("../assets/github.svg");
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 9999px;
  color: white;
  &:hover {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}
