$default: #1a202c; /* #1a202c default */
$gray: #a0aec0; /* #a0aec0 */
$red: #f56565; /* #f56565 */
$orange: #ed8936; /* #ed8936 */
$yellow: #ecc94b; /* #ecc94b */
$green: #48bb78; /* #48bb78 */
$teal: #38b2ac; /* #38b2ac */
$blue: #4299e1; /* #4299e1 */
$indigo: #667eea; /* #667eea */
$purple: #9f7aea; /* #9f7aea */
$pink: #ed64a6; /* #ed64a6 */

#github-fabulous {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 48px;
  height: 48px;
  padding: 8px;
  background: $default;
  content: url("../assets/github.svg");
  transition: box-shadow 0.5s;
  box-shadow: 0 3px 10px rgba(26, 32, 44, 0.2);
  border-radius: 9999px;
  color: white;
  &:hover {
    box-shadow: 0 7px 20px rgba(26, 32, 44, 0.4);
  }
  .gray {
    background: $gray;
  }
  .red {
    background: $red;
  }
  .orange {
    background: $orange;
  }
  .yellow {
    background: $yellow;
  }
  .green {
    background: $green;
  }
  .teal {
    background: $teal;
  }
  .blue {
    background: $blue;
  }
  .indigo {
    background: $indigo;
  }
  .purple {
    background: $purple;
  }
  .pink {
    background: $pink;
  }
}
